<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or post.title }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
</head>
<body>
    <header>
        <h1>{{ renderData.title or title or post.title or metadata.title }}</h1>
    </header>
    <main>
        {{ content | safe }}
    </main>
</body>
</html>